.git_changes_added {
  background-color: #e6ffed;
  border-left: 6px solid #34d058;
  padding: 0 2px; /* Top and bottom padding 0, left and right padding 2px */
}

.git_changes_removed {
  background-color: #ffeef0;
  border-left: 6px solid #d73a49;
  text-decoration: line-through;
  margin-right: 5px; /* Adjust the value as needed */
  padding: 0 2px; /* Top and bottom padding 0, left and right padding 2px */
}

.git_changes_block_changed {
  background-color: #fffbdd;
  border-left: 6px solid #f9d700;
}

.git_changes_page {
  position: relative;
}

.git_changes_page::before {
  content: "DRAFT";
  font-size: 200px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: -1;
}